<div class="email-container">
    <div class="header <%= type || '' %>">
        <h1><%= appName %></h1>
        <% if (title) { %>
            <div class="subtitle"><%= title %></div>
        <% } %>
    </div>
</div>